// Main
$primary: #C9A836;
$secondary: #A83939;
$backgroundColor: #3A3239;

$iconsRed: #E25A5A;
$iconBgRed: #E24F4F;
$iconBgGrey: #B3ADAD;
$circleHearBg: #A83939;
$catergoryBg: #565656;

// Font Colors
$fontColorRed: #F75760;
$fontColorWhite: #FFFFFF;

